* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body {
    font-family: "Lexend Deca", sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
    overflow: auto;
}

body{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    height: min(55%,700px);
    width: clamp(624px,50%,1200px);
}

.container{
    display: flex;
    height: max(80%,900px);
    width: 100%;
}

.container img{
    width: 4rem;
    height: auto;
    margin-top: max(0.5rem,0.4vw);
    margin-bottom: max(0.5rem,0.4vw);
}

.container h2{
    font-size: clamp(2.5rem, 2vw, 6rem);
    font-family: "Big Shoulders", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: max(1.8vw,2.5rem);
    margin-bottom: max(1.8vw,2.5rem);
    padding: 0;
}

.container p{
    font-size: clamp(1rem, 1.5rem, 0.8vw);
    line-height: max(1vw,1.5rem);
    margin-left: 0;
    margin-right: 0;
    margin-top: max(0.5rem,0.4vw);
    margin-bottom: max(0.8rem,0.4vw);
    padding: 0;
    height: 55%;
    opacity: 60%;
}

.sedan, .suv, .lux {
    width: 33.3%;
    line-height: 1.5em;
    color: white;
    display: flex;
    flex-direction: column;
    padding: max(3rem,2.8vw);
}

.sedan {
    border-radius: 1em 0 0 1em;
    background: hsl(31, 77%, 52%);
}

.suv {
    background: hsl(184, 100%, 22%);
}

.lux {
    border-radius: 0em 1em 1em 0;
    background: hsl(179, 100%, 13%);
}

.sedan .button{
    color: hsl(31, 77%, 52%);
}

.suv .button{
    color: hsl(184, 100%, 22%);
}

.lux .button{
    color: hsl(179, 100%, 13%);
}

.button {
    font-size: clamp(0.875rem, 0.7vw + 0.25rem, 1.25rem);
    background-color: white;
    width: max(70%, 96px);
    border: solid 0.2em white;
    border-radius: 3em;
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.attribution {
    font-size: clamp(0.8rem, 1.2rem, 0.64vw);
    text-align: center;
    width: max(100%,600px);
}

.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 430px){

    main{
        width: 98vw;
        height: 99vh;
        padding: 0;
        margin: auto;
    }
    .container{
        flex-direction: column;
        height: max(720px,100%)
    }

    .container h2{
    font-size: clamp(1.5rem,8vw,2rem);
    margin: 0.5rem 0;
    }

    .container p{
    height: max(100px,55%);
    font-size: clamp(0.75rem, 4vw, 1.5rem);
    margin: auto 0;
    }

    .container img{
    width: 3rem;
    height: auto;
    margin:0;
    }

    .sedan, .suv, .lux {
    width: 100%;
    height: 33%;
    line-height: 1.5em;
    color: white;
    display: flex;
    padding: clamp(1rem,6vw,2rem);
    }

    .sedan {
    border-radius: 1em 1em 0 0;
    }

    .suv {
        background: hsl(184, 100%, 22%);
    }

    .lux {
        border-radius: 0 0 1em 1em;
    }
    .button{
        margin: 0.5rem 0;
    }
    .attribution{
        width: 100%;
    }
}